/* Estilos para telas menores que 1280px */
@media screen and (max-width: 1280px) {
    .container {
        flex-direction: column;
        align-items: center;
        padding: 1rem;
    }

    .container-left {
        margin-left: 0;
        padding-right: 1rem;
        max-width: 100%;
    }

    .container-right {
        max-width: 90%;
    }
}

/* Estilos para telas menores que 760px */
@media screen and (max-width: 760px) {
    body {
        gap: 0.8rem;
    }

    .header {
        justify-content: center;
    }

    .logoalura {
        max-width: 120px;
        width: 100%;
    }

    .container-left {
        padding: 0 1rem;
    }

    .container-left-form__textarea {
        font-size: 1.5rem;
        line-height: 36px;
        height: 400px;
    }

    .container-left__botoes {
        flex-direction: column;
        gap: 1rem;
    }

    .container-right {
        height: auto;
        padding: 1rem;
    }

    .container-right__result__mensagem {
        font-size: 1.25rem;
        line-height: 28px;
        height: auto;
    }
}

/* Estilos para telas menores que 375px */
@media screen and (max-width: 375px) {
    .container-left-form__textarea {
        font-size: 1.25rem;
        line-height: 28px;
        height: 300px;
    }

    .container-left__botoes__encriptar,
    .container-left__botoes__desencriptar {
        font-size: 14px;
        padding: 1rem;
        height: auto;
    }

    .container-right {
        max-width: 100%;
        border-radius: 1rem;
    }

    .footer {
        padding: 0.5rem;
    }

    .footer__text {
        font-size: 0.875rem;
    }
}
